body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('https://kq-storage.s3.ap-south-1.amazonaws.com/Github/astronaut/sky-moon-bg%5B1%5D.png') no-repeat center center fixed;
    background-size: cover;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
}

.form-container {
    position: absolute;
    top: 18%;
    left: 57%;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 400px;
    width: 100%;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="radio"] {
    margin-right: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #ff6f00;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}

button:hover {
    background-color: #ff8f00;
}

.astronauts {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    overflow: hidden;
}

.astronaut {
    position: absolute;
    width: 400px;
}

.astronaut1 {
    top: 16%;
    left: 4%;
    animation: float 6s ease-in-out infinite;
}

.astronaut2 {
    top: 37%;
    left: 25%;
    animation: float 8s ease-in-out infinite;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}





